---
import { AppConfig } from '../data/app.config';
import { getRouteUrl } from '../data/routes.config';
import BrandWordMark from './BrandWordMark.astro';
import { Clock, MapPin, Mail } from '@lucide/astro';
---

<footer>
  <div class="container-fluid">
    <div class="content">
      <div class="branding">
        <p class="name"><BrandWordMark /></p>
        <p class="tagline">{ AppConfig.brand_tagline }</p>

        <div class="info">
          <p>
            <MapPin />
            <span>{ AppConfig.address }</span>
          </p>
          <p>
            <Mail />
            <span>{ AppConfig.email }</span>
          </p>
          <p>
            <Clock />
            <span>{ AppConfig.time }</span>
          </p>
        </div>
      </div>

      <div class="quick-links">
        <h3>Quick Links</h3>
        <div class="links">
          <a href={getRouteUrl("home-page")}>Home</a>
          <a href={getRouteUrl("about-page")}>About</a>
          <a href={getRouteUrl("services-page")}>Services</a>
          <a href={getRouteUrl("about-page")}>Portfolio</a>
          <a href={getRouteUrl("contact-page")}>Contact</a>
        </div>
      </div>

      <div class="services">
        <h3>Services</h3>
        <div class="links">
          <a href="/services/custom-software">Custom software</a>
          <a href="/services/web-development">Web Development</a>
          <a href="/services/mobile-apps">Mobile Apps</a>
          <a href="/services/seo">SEO Services</a>
        </div>
      </div>

      <div class="contacts">
        <h3>Connect With Us</h3>
        <div class="socials">
          <a href={ AppConfig.instagram } aria-label="Instagram Link" target="_blank" rel="noopener noreferrer">
            <img src={AppConfig.images.logos.instagramLogo.src} alt="Instagram Link">
          </a>

          <a href={ AppConfig.facebook } aria-label="Facebook Link" target="_blank" rel="noopener noreferrer">
            <img src={AppConfig.images.logos.faceBookLogo.src} alt="Facebook Link">
          </a>

          <a href={ AppConfig.tiktok } aria-label="TikTok Link" target="_blank" rel="noopener noreferrer">
            <img src={AppConfig.images.logos.tikTokLogo.src} alt="TikTok Link">
          </a>

          <a href={ AppConfig.youtube } aria-label="YouTube Link" target="_blank" rel="noopener noreferrer">
            <img src={AppConfig.images.logos.youTubeLogo.src} alt="YouTube Link">
          </a>
        </div>
        <p>Follow us for updates and insights</p>
      </div>
    </div>

    <div class="copyrights">
      <p class="text">&copy; {AppConfig.currentYear} <BrandWordMark />. All rights reserved.</p>
      <div class="documents">
        <a href={getRouteUrl("privacy-policy")}>Privacy Policy</a>
        <a href={getRouteUrl("terms-and-conditions")}>Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
